{% extends 'common/base.html' %}
{% load static %}

{% block content %}
{% include 'common/hero.html' %}

<div class="container my-3">
    <div class="row my- 3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center my-3">Login Here</h3>
            <hr>
                <form action="" method="POST" novalidate class="shadow p-4">
                    {% csrf_token %}
                    {% for f in form %}
                    <div class="form-group mb-3">
                        {{f.label_tag}}{{f}}
                        <small>{{f.errors|striptags}}</small>
                    </div>
                    {% endfor %}
                    <div class="text-left text-primary fw-bold">
                        <small><a href="{% url 'registration' %}" class="text-info">Want to create account</a></small>
                    </div>
                    <br>
                    <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" value="Login" class="btn btn-success"> </div>
                    <br>
                    <div class="text-center text-primary fw-bold">
                        <small>Forget password?<a href="#" class="text-info">Login</a></small>
                    </div>
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                </form>
                    
        </div>

    </div>
</div>
{% endblock content %}