{% extends 'common/base.html' %}
{% load static %}
<!-- <img src="{% static 'assets/img/ai_img002.jpg' %}" alt="" class="img-fluid">-->
{% block content %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" data-aos="zoom-fixed">
        <img src="{% static 'assets/img/ai_img002.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div><br><br>
<div class="container text-center">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col">
            <img src="{% static 'assets/img/machine-learning-1.jpg' %}" class="rounded mx-auto d-block" alt="...">
        </div>
    <div class="col-lg-3 col-md-3">
      <h2>Course Details</h2>
      <p>Title: Data Science & Machine Learning With Python</p>
      <p>Course Duration: 40 Hours.</p>
      <p>Prerequisites: Computer & Internet connection is enough.</p>
      <p>Course Fees: 4000 Taka.</p>
      <p>Instructor: Mr. Shoaib Rahman Shuvo</p>
      <p>Big Data Engineering Instructor, aiQuest Intelligence</p>
      <p>Big Data Engineer, V2 Technologies Ltd</p>
      <p>To Enroll, Cell & WhatsApp: +8801704265972</p>
    </div>
  </div>
</div>

       <!-- End Course Item-->

{% endblock content %}